@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$theme-colors: (
  primary: $cyan
);

.asteriskField {
    display: none;
}

.hide{
    display: none;
}

.text-dark {
  color: #25292C !important;
}

@import "../bootstrap/scss/bootstrap";

