{% extends 'base.html' %}
<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>
-->
{% block content %}
<body>
<div class="navigate">
    <span><a href="">Main</a> >> <a href="{{post.categories.all.0.get_absolute_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_absolute_url}}">{{post.title}}</a></span>
</div>
<div class="topic-container">
    <div class="head">
        <div class="authors">{{post.user}}</div>
        <div class="content">Topic: {{post.title}} </div>
    </div>
    <div class="body">
        <div class="content">
            {{post.content}}
            <br>
        </div>
    </div>
</div>

<div class="comment-area" id="comment-area">
    <form method="post" action="">
        {% csrf_token %}
        {{ new_comment_form }}
        <input type="submit" value="submit">
    </form>
</div>

{% for comment in post.get_comments %}
<div class="comments-container">
    <div class="body">
        <div class="authors">
            <div class="username"><a href="">{{ comment.user }}</a></div>
        </div>
        <div class="content">
            {{ comment.content }}
            <br>
        </div>
    </div>
</div>

{% for reply in comment.get_replies %}
<div class="comments-container" style="width: 95%, margin-left:50px;">
    <div class="body">
        <div class="authors">
            <div class="username"><a href="">{{ reply.user }}</a></div>
        </div>
        <div class="content">
            {{ reply.content }}
            <br>
        </div>
    </div>
</div>
{% endfor %}
<div class="comment-area hide" id="reply-area">
    <form method="post" action="">
        {% csrf_token %}
        {{ new_reply_form }}
        <input type="hidden" name="reply_to" value="{{ comment.id }}">
        <input type="submit" value="submit">
    </form>
{% endfor %}
</div>
</body>
{% endblock %}