{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} - Discussion Board {% endblock %}

{% block content %}
<div class="navigate">
    <span><a href="{% url 'discussion-board' %}">Main</a> >> <a href="{{post.categories.all.0.get_absolute_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_absolute_url}}">{{post.title}}</a></span>
</div>
<div class="topic-container">
    <div class="head">
        <div class="authors"><b>{{post.user}}</b></div>
        <div class="content">Topic: {{post.title}} </div>
    </div>
    <div class="body">
        <div class="content">
            {{post.content}}
            <br>
        </div>
    </div>
</div>
<div class="comment-area">
    <form method="post" action="">
        {% csrf_token %}
        {% crispy new_comment_form %}
    </form>
{% for comment in post.get_comments %}
<div class="comments-container ml-3">
    <div class="authors">
        <div class="username"><b>{{ comment.user }}</b></div>
    </div>
    <div class="content">
        {{ comment.content }}
        <br>
    </div>
    <div class="comments-container ml-3" style="width: 95%;">
        {% for reply in comment.get_replies %}
        <div class="body">
            <div class="authors">
                <div class="username"><b>{{ reply.user }}</b></div>
            </div>
            <div class="content">
                {{ reply.content }}
                <br>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="reply-area ml-3">
    <form method="post" action="">
        {% csrf_token %}
        {{ new_reply_formset|crispy }}
        <input type="hidden" name="reply_to" value="{{ comment.id }}">
        <input type="submit" value="submit">
    </form>
    </div>
</div>
{% endfor %}

</div>
{% endblock %}