{% extends 'base.html' %}

<!----
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>
--->
{% block content %}
<body>
    <!--bootstrap example: https://getbootstrap.com/docs/4.0/examples/offcanvas/-->
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% for discussion_board in discussion_boards %}
        <div class="media text-muted pt-3">
            <div class="sub-discussion-board-row media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="sub-discussion-board-description">
                    <h4><a href="{{discussion_board.get_url}}">{{discussion_board.title}}</a></h4>
                    <p>{{ discussion_board.description }}</p>
                </div>
                <div class="sub-discussion-board-post-count">
                    <span>{{discussion_board.post_count}} Posts</span>
                </div>
                {% if discussion_board.last_post %}
                <div class="sub-discussion-board-info">
                    <b><a href="{{discussion_board.last_post.get_url}}">Last post</a></b> by <a href="">{{discussion_board.last_post.user}}</a>
                    <br>on <small>{{discussion_board.last_post.datePosted}}</small>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Forum Info -->
    <div class="forum-info">
        <div class="chart">
            MyForum - Stats &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>5,369</u> Posts in <u>48</u> Topics by <u>8,124</u> Members.</span><br>
        <span>Latest post: <b><a href="">Random post</a></b> on Dec 15 2021 By <a href="">RandomUser</a></span>.<br>
        <span>Check <a href="">the latest posts</a> .</span><br>
    </div>
</body>

{% endblock %}