{% extends 'base.html' %}
<!---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>
--->
{% block content %}
<body>
    <div class="container mt-5 pt-5">
        <!--Navigation-->
        <div class="navigate pb-4">
            <span><a href="{% url 'discussion-board' %}">Main</a> >> <a href="">{{ category }}</a></span>
        </div>
        {% for post in post_list %}
        <div class="table-row border-bottom pb-3 mt-2 border-gray row">
            <div class="col-md-7">
                <h5><a href="{{post.get_absolute_url}}">{{post.title}}</a></h5>
                <span>Started by <b><a href="">{{post.user}}</a></b>.</span>
            </div>
            <div class="replies col-md-2">
                {{ post.comments_count }} comments <br>
            </div>
            {% if post.last_comment %}
            <div class="last-reply col-md-3">
                {{ post.last_comment.datePosted }}
                <br>By <b><a href="">{{post.last_comment.user}}</a></b>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!--Pagination starts-->
        <div class="pagination my-3">
            pages: <a href="">1</a><a href="">2</a><a href="">3</a>
        </div>
        <!--pagination ends-->
    </div>
</body>
{% endblock %}