{% extends 'base.html' %}

{% block content %}
<h3>Leaving foster care</h3>

<p>Before you reach 18, your social worker will talk to you about the plan for you to leave care and the support you need to prepare for this. It is very important that you discuss your options with your social worker, personal advisor or independent advocate.</p>
<p>If you are settled, you might be able to continue living with your foster family under the 'When I am Ready Scheme' until you are 21, if you, your foster carer and social worker think that this is the right decision for you. This could be extended to 25 if you are in education or training. You can keep in touch with your foster family when you leave care.</p>

{% endblock %}