{% extends 'base.html' %}

{% block content %}
<h3>Leaving foster care</h3>

<p>Before you reach 18, your social worker will talk to you about the plan for you to leave care and the support you
    need to prepare for this. It is very important that you discuss your options with your social worker, personal advisor
    or independent advocate.</p>
<p>If you are settled, you might be able to continue living with your foster family under the 'When I am Ready Scheme'
    until you are 21, if you, your foster carer and social worker think that this is the right decision for you. This could
    be extended to 25 if you are in education or training. You can keep in touch with your foster family when you leave care.</p>
<p>Cardiff Youth Service has a <a href="https://padlet.com/CardiffYouthService">padlet</a> full of resources for young people,
    and one board specifically with <a href="https://padlet.com/CardiffYouthService/LeavingCare">information for care leavers</a>.</p></p>
<h4>Money</h4>
<p>The Children's Commissioner for Wales' <a href="https://myplanner.childrenscommissioner.wales/money/">My Planner</a> website
    has lots of information about the money or discounts you could be entitled to as a care leaver. This includes: </p>
<ul>
    <li><b>Education Maintenance Allowance</b> - this is an allowance up to £30 weekly to help you with your studies if you stay on
    in school or go to college after you turn 16. The money is paid every two weeks directly into your bank account.</li>
    <li><b>Higher Education Bursary</b> - All local authorities have to pay a Higher Education Bursary of £2,000 to care leavers
    doing a higher education course. When applying for university via UCAS, tick the box on the form that asks if you've
    been in care. <a href="https://www.ucas.com/file/37276/download?token=-o8W4U-c">Here's why</a>. The information is kept confidential and means universities and colleges can let you know what extra
    support you're entitled to.</li>
</ul>
<p>As a care leaver, you also don't have to pay Council Tax until you're 25.</p>
{% endblock %}