{% extends "base.html" %}

{% block content %}
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Guide to being in care</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item">
            <a class="nav-link" href="#">Your Wellbeing</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Your Voice</a>
          </li>
          </ul>
        </div>
      </nav>
</header>

<div class="container pt-5 mt-5">
    <h2 class="display-4 pb-3 mb-3">How old are you?</h2>
    <div class="row">
          <div class="col-md-2">
              <p><a class="btn btn-lg btn-dark btn-primary" href="/main/5-8" role="button">5-8</a></p>
          </div>
        <div class="col-md-2">
              <p><a class="btn btn-lg btn-dark btn-primary" href="/main" role="button">9-12</a></p>
        </div>
        <div class="col-md-3">
              <p><a class="btn btn-lg btn-dark btn-primary" href="/main" role="button">13-15</a></p>
        </div>
        <div class="col-md-3">
              <p><a class="btn btn-lg btn-dark btn-primary" href="/main" role="button">16+</a></p>
        </div>
    </div>
</div>


</body>

{% endblock %}