{% extends "base.html" %}
{% block content %}
 <body>
    <main role="main">
      <div class="jumbotron">
        <div class="container pt-5">
          <h2 class="display-3">Welcome!</h2>
          <p>This guide has been made for children and young people in care to help answers questions you
          may have about being in care, such as:</p>
            <ul>
                <li>How did I become looked after?</li>
                <li>Who can I talk to about problems I'm having?</li>
                <li>What do these words or acronyms mean?</li>
            </ul>
          <p>The guide will have advice about your health and wellbeing, and it will
              show you where to find help with your money and life skills.
              It will also have advice about what to do next, if you're older.</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>What is being in care?</h2>
              <p>Children and young people who are unable to live at home sometimes have to live with a foster family.
                Foster care is when children and young people live with and are cared for by people who are not
                their parents.</p>
              <p>Foster carers have been specially trained to look after you and keep you safe.
                Fostering families come in all shapes and sizes. Sometimes you might live with a family member
                like a grandparent or an aunt or uncle or a friend who is a foster carer and this is called ‘Kinship’
                foster care.</p>
              <p>There are different types of foster care and this can be short-term or long term,
                depending on your circumstance and your needs. You might stay with your foster family for a short
                time, maybe for a few weeks or a few months or you may need a permanent home with your foster
                family as you are unable to return to your birth family.</p>
              <p>Your social worker will talk to you about
                your plan. Social workers will work with your parents and foster carers to make decisions about
                what happens to you. They should remember your wishes and feelings when making decisions about you.</p>
          </div>
          <div class="col-md-4">
            <h2>Your rights</h2>
            <p>All children and young people have rights. These rights are what the government says you are entitled to,
                to make sure you’re treated fairly and that you receive a good standard of care.</p>
            <p><a class="btn btn-secondary" href="/main/your-rights" role="button">What are my rights? &raquo;</a></p>
          </div>
            <div class="col-md-8">
                <h2>How did I become looked after?</h2>
            </div>
        </div>
      </div>
    </main>
  </body>
{% endblock %}
