{% extends 'base.html' %}

{% block content %}
<h3>What does that mean?</h3>
<p>There are lots of words and terms used by adults when you are looked after. This page tells you what they mean.</p>
<!-- <p>If you can't find what you're looking for on this page, please email [admin email] to ask, and it can be added to this list.</p> -->

<div class="odd-definition p-2">
    <h5>LA</h5>
    <p>Local Authority (Where you are from or who is responsible for your care i.e. The City of Cardiff Council)</p>
</div>

<div class="even-definition p-2">
    <h5>Accommodated</h5>
    <p>This means that your parents have agreed for you to go into care. They alone have parental responsibility for you and
        not Social Services.</p>
</div>

<div class="odd-definition p-2">
    <h5>Care Order</h5>
    <p>Young people are sometimes on a care order, which is made by a court (a family not criminal court). The court will
        make a care order where there are worries that a young person is being harmed or is at risk of significant harm.
        Both Social Services and your parents have to work together to make decisions about your life (they share parental
        responsibility for you). If you are on a temporary care order this is called a 'Interim' Care Order.</p>
</div>

<div class="even-definition p-2">
    <h5>Special Guardianship Order (SGO)</h5>
    <p>An order means a child lives with carers who have parental responsibility for them and usually lasts until a child is 18.
        The child is no longer the responsibility of the Local Authority.</p>
</div>

<div class="odd-definition p-2">
    <h5>Parental Responsibility</h5>
    <p>Those with parental responsibility for you have the right to make decisions about the way you are brought up, if
        you are on a Care Order. Social Services will share parental responsibility with your parent(s).</p>
</div>

<div class="even-definition p-2">
    <h5>Looked After Child Review meeting</h5>
    <p>A meeting that takes place to ensure that children and young people in care are getting the support they should be
        getting from Social Services and to make sure that everything is going ok in your life around things like placement,
        contact, school and your health.</p>
</div>

<div class="odd-definition p-2">
    <h5>PEP</h5>
    <p>Personal Education Plan - </p>
</div>

<div class="even-definition p-2">
    <h5>Social Worker</h5>
    <p>A social worker is someone is trained to work with children, young people and their families. You will have a social
        worker who will work with you, your family, your foster carers and other people to decide what is best for you whilst
        you are living in foster care. It is important for your social worker to listen to your wishes and feelings when making
        decisions about your life.</p>
</div>

<div class="odd-definition p-2">
    <h5>IRO</h5>
    <p>Independent Review Officer - </p>
</div>

<div class="even-definition p-2">
    <h5>Designated Looked After Child Teacher</h5>
    <p>A teacher at school who supports you.</p>
</div>

<div class="odd-definition p-2">
    <h5>Complaints Officer</h5>
    <p>A person who works for Social Services who will listen to your concerns if there is something you are unhappy
        about in care and try and put things right for you.</p>
</div>

<div class="even-definition p-2">
    <h5>Independent Visitor</h5>
    <p>A volunteer who will visit you regularly and befriend you.</p>
</div>

<div class="odd-definition p-2">
    <h5>Supervising Social Worker</h5>
    <p>Foster Carers' own Social Worker. They are there to make sure that your carers are getting the help they need and
        that they are looking after you well.</p>
</div>

<div class="even-definition p-2">
    <h5>Contact</h5>
    <p>Social Services must support you to see your family. This could be face to face contact or through letters and phone
        calls. Sometimes you might have to have supervised contact which means that someone from Social Services will be with
        you when you see for your family. Sometimes it might not be in your best interests to have any contact, but a court must
        decide about this if Social Services want to stop you having contact.</p>
</div>

<div class="odd-definition p-2">
    <h5>Respite</h5>
    <p>Short stay foster care. This may be overnight or for a couple of days.</p>
</div>

<div class="even-definition p-2">
    <h5>Personal Advisor</h5>
    <p>A person who works with you whilst leaving care.</p>
</div>

<div class="odd-definition p-2">
    <h5>Advocate</h5>
    <p>Someone that does not work for Social Services and is there to make sure you are listened to and have a say in
        decisions. The advocate can let you know your rights whilst living in care and when you leave care. </p>
</div>
{% endblock %}