{% extends 'base.html' %}

{% block content %}
<h3>What does that mean?</h3>
<p>There are lots of words and terms used by adults when you are looked after. This page tells you what they mean.</p>
<!-- <p>If you can't find what you're looking for on this page, please email [admin email] to ask, and it can be added to this list.</p> -->
<ul>
    <li>LA - Local Authority (Where you are from or who is responsible for your care i.e. The City of Cardiff Council)</li>
    <li>Accommodated - This means that your parents have agreed for you to go into care. They alone have parental responsibility for you and not Social Services.</li>
    <li>Care Order- Young people are sometimes on a care order, which is made by a court (a family not criminal court). The court will make a care order where there are worries that a young person is being harmed or is at risk of significant harm. Both Social Services and your parents have to work together to make decisions about your life (they share parental responsibility for you). If you are on a temporary care order this is called a 'Interim' Care Order.</li>
    <li>Special Guardianship Order (SGO) - An order means a child lives with carers who have parental responsibility for them and usually lasts until a child is 18. The child is no longer the responsibility of the Local Authority.</li>
    <li>Parental Responsibility - Those with parental responsibility for you have the right to make decisions about the way you are brought up, if you are on a Care Order. Social Services will share parental responsibility with your parent(s).</li>
    <li>Looked After Child Review meeting - A meeting that takes place to ensure that children and young people in care are getting the support they should be getting from Social Services and to make sure that everything is going ok in your life around things like placement, contact, school and your health.</li>
    <li>PEP - Personal Education Plan</li>
    <li>Social Worker - A social worker is someone is trained to work with children, young people and their families. You will have a social worker who will work with you, your family, your foster carers and other people to decide what is best for you whilst you are living in foster care. It is important for your social worker to listen to your wishes and feelings when making decisions about your life.</li>
    <li>RO - Independent Review Officer</li>
    <li>Independent Visitor - volunteer who will visit you regularly and befriend you. </li>
    <li>Complaints Officer - A person who works for Social Services who will listen to your concerns if there is something you are unhappy about in care and try and put things right for you.</li>
    <li>Supervising Social Worker - Foster Carers own Social Worker. They are there to make sure that your carers are getting the help they need and that they are looking after you well.</li>
    <li>Contact - Social Services must support you to see your family. This could be face to face contact or through letters and phone calls. Sometimes you might have to have supervised contact which means that someone from Social Services will be with you when you see for your family. Sometimes it might not be in your best interests to have any contact, but a court must decide about this if Social Services want to stop you having contact.</li>
    <li>Respite - Short stay foster care this maybe overnight or for a couple of days.</li>
    <li>Personal Advisor - A person who works with you whilst leaving care.</li>
    <li>Advocate - Someone that does not work for Social Services and is there to make sure you are listened to and have a say in decisions. The advocate can let you know your rights whilst living in care and when you leave care. </li>
    <li>Designated Looked After Child Teacher - A teacher at school who supports you.</li>
</ul>
{% endblock %}