{% extends "base.html" %}

{% block title %} - Your Education {% endblock %}

{% block content %}
<h3>What happens with my education?</h3>
    <p>It may be that you stay at the school or college you already go to. If you can’t stay there, then your
        social worker will work out which one is best for you to go to. You do have a say in what school you
        go to, so make sure you talk about what you want. If you don’t go to school or college at
        the moment or haven’t been for a while, you may feel a bit nervous. The person who is caring for you can
        help you with this. Remember it isn’t just about lessons: it can be a great place to meet new friends
        and try new activities. </p>
    <p>We want to make sure that you do the best you can. To do this we make a personal education plan which helps you
        and us think about your future and where you want to get to, and also to celebrate the things you've done well.</p>
    <p>If you are having any problems or difficulties at school, you should talk to your foster parent and social worker
        who will help you. You will also be able to get support at school from the Designated Teacher.</p>
{% endblock %}