{% extends 'base.html' %}

{% block content %}
<h3>Your Voice</h3>
<p>It's really important that your voice is heard and you get the help and support you need throughout your time in care.
    It can be very hard moving into a new family and some children and young people can feel upset about leaving their own
    family and everything can feel different and strange. But remember that there are lots of people here to help you.
    If you’re feeling unhappy about anything at all, it’s really important that you let your social worker know.</p>

<h4>What if I am unhappy with the care I receive?</h4>
<p>If you feel that you cannot speak with your social worker, you can talk to someone you trust, like a teacher or you can speak to an advocate.
    An advocate is someone who is independent from social services. They listen to what you have to say and help you get
    something stopped, started or changed when you are unhappy about something. They also tell you about your rights and
    can support you at your review meetings. If you can’t get problems sorted out, they can also help you to make a
    complaint to the Children’s Complaints Officer.</p>
    <p>You can also speak to the Complaints Officer yourself on 029 2087 325.</p>

<h4>Other places to talk</h4>
<p>There are many services and people who want to listen to you and make sure your rights are upheld.</p>
<p><a href="https://youngpeople.nyas.net/">NYAS</a> is a charity which can help give you advice and can organise
meetings with other young people for you to talk about your experiences with and make friends.</p>
<p><a href="www.childline.org.uk">Childline</a> is a free 24-hour service helpline for young people. They're confidential,
    so they won't tell anyone anything about you unless you're in danger. You can email them from a Childline account
    if you don't want to talk on the phone, and their website has lots of information and advice about bullying,
    you and your body, and your feelings.</p>
{% endblock %}