{% extends 'base.html' %}

{% block title %} - Your Wellbeing {% endblock %}

{% block content %}
<h3>Your wellbeing</h3>
<p>Your foster carers will need to make sure you have a doctor or dentist to support you when you are ill. You will also
    have a medical once a year to make sure you are well and being looked after properly whilst in care, and you can
    choose who goes with you to these health appointments.</p>
<p>Being healthy does not just mean eating lots of vegetables and not being sick. It’s things like keeping your teeth clean, having
    regular eye tests, and having your immunisations (jabs) up to date. It's also about making sure you're feeling okay
    mentally. We always want to hear what you have to say and how you're doing, because only you know how you're feeling.</p>

<h4>Physical health</h4>

The Cardiff Youth Services padlet has lots of information for supporting you with your physical health - they have boards
for <a href="https://padlet.com/CardiffYouthService/t8hvg5auxd7z5zll">healthy living</a>,
<a href="https://padlet.com/CardiffYouthService/b13kb00sjbzf9oz8">first aid</a>, and
<a href="https://padlet.com/CardiffYouthService/rs0n3c3gem19gcgl">Covid-19</a>.

<h4>Mental health</h4>
<p>The Cardiff Youth Services padlet has lots of information for supporting you with your mental health - they have boards
for your <a href="https://padlet.com/CardiffYouthService/m278o4xvsqziwao3">emotional health</a>, what
<a href="https://padlet.com/CardiffYouthService/2320c9j4f1zn1wme">healthy relationships look like</a>, and how to
    <a href="https://padlet.com/CardiffYouthService/k5p5t871gxpewu8v">stay safe online</a>.</p>
<p>Staying safe online is particularly important these days because you can speak to anyone online, without being
completely sure they are who they say they are.</p>

<h5>Bullying</h5>
<p>Bullying can be anything from name calling because of your race, culture or disability or for any reason,
    making things up deliberately to get you in trouble, hitting you, taking or damaging your belongings or
    stealing your money. </p>
<p>If any of these things ever happen to you or anything that upsets you, please <b>tell someone</b>
    about it. Don’t be scared by threats. If you don’t tell someone things may get worse. You should speak to someone you
    trust such as your foster parent, social worker, a teacher, the Children’s Rights Officer, Children’s Participation
    Officer or you can call Childline. They will do the right things to make it stop.</p>
{% endblock %}