{% extends 'base.html' %}

{% block content %}
<h3>What if I am unhappy with the care I receive?</h3>
<p>It can be very hard moving into a new family and some children and young people can feel upset about leaving their own family and everything can feel different and strange. But remember that there are lots of people here to help you. If you’re feeling unhappy about anything at all, it’s really important that you let your social worker know. </p>
<p>If you feel that you cannot speak with your social worker, you can talk to someone you trust, like a teacher or you can speak to an advocate.
    An advocate is someone who is independent from social services. They listen to what you have to say and help you get something stopped, started or changed when you are unhappy about something. They also tell you about your rights and can support you at your review meetings. If you can’t get problems sorted out, they can also help you to make a complaint to the Children’s Complaints Officer.</p>
    <p>You can also speak to the Complaints Officer on 029 2087 325 or ask to speak to advocate who can help you make a complaint or help you with anything that is worrying you.</p>
{% endblock %}