{% extends "base.html" %}

{% block title %} - Your Skills {% endblock %}
{% block content %}
<h3>Your Skills</h3>
<p>There are lots of resources online to help you with the skills you need for living independently.
The Children's Commissioner for Wales' <a href="https://myplanner.childrenscommissioner.wales/living-independently/">My Planner</a>
    has resources for cooking simple meals, cleaning and laundry, and how to stay safe when you're living by yourself.
<p><a href="https://barclayslifeskills.com/educators/support/moving-forward-after-care/">Barclays Life Skills</a>
    also has lessons to help you develop the skills you need to live independently.</p>

<h4>Cooking</h4>
<ul>
    <li>Youtube is great for videos demonstrating cooking skills - <a href="https://www.youtube.com/channel/UCIEv3lZ_tNXHzL3ox-_uUGQ">Gordon Ramsey</a> has his own channel for cooking techniques and recipes, and there
    are lots of other cooking channels too.</li>
    <li><a href="https://www.bbcgoodfood.com/">BBC Good Food</a> is a great website for finding new recipes both simple and complex, and also has videos demonstrating how to cook different foods.</li>
</ul>

<h4>Cleaning</h4>

<p>Laundry can be confusing at first but there are lots of guides online for how to do it - Ariel has guides for
    <a href="https://www.ariel.co.uk/en-gb/how-to-wash/how-to-do-laundry">doing your laundry</a>, and
<a href="https://www.ariel.co.uk/en-gb/how-to-wash/how-to-do-laundry/fabric-care-labels">what the washing
    symbols on clothes mean</a>.</p>

<h4>Looking after your house</h4>
<p>There are lots of things you need to know when you live independently. Things like when to put your
    bins out (Cardiff has a website to <a href="https://www.cardiff.gov.uk/ENG/resident/Rubbish-and-recycling/When-are-my-bins-collected/Pages/default.aspx">
        find out when your bins are collected</a>).</p>
<p><a href="https://www.housingsolutions.co.uk/rent-repairs/home-advice/tips-for-looking-after-your-home/">
    Housing Solutions</a> has lots of information about what you need to do to look after your home. For example,
when the weather gets very cold, sometimes pipes can freeze up and burst, so the heating needs to be on for you and the house!</p>

{% endblock %}