{% extends "base.html" %}
{% block content %}
<body>
    <main role="main">
        <div class="container">
            <h2>Your Rights</h2>
        <ul>
            <li>You have a right to an education. </li>
            <li>You have a right to be heard and have a say about issues affecting you.</li>
            <li>You have a right to practice your religion.</li>
            <li>You have the right to have your care plan reviewed.</li>
            <li>You have a right to be protected from violence, abuse and neglect.</li>
            <li>You have a right to have your identity, religious and cultural needs met.</li>
            <li>You have a right to family life and to have contact as long as it is safe for you.</li>
            <li>You have a right to be treated in a non-discriminatory way.</li>
            <li>You have a right to confidentiality – People should keep information about you private unless you or someone
            else were being harmed or may come to harm. If information needs to be passed on, you should be made aware and
            told the reasons why it needs to be shared.</li>
        </div>
    </main>
</body>

{% endblock %}